.nav {
    color: white;
    a{
        color: white;
        background: none;
        border: 1px solid transparent;
        padding: 5px;
        &:focus {
            outline: auto;
        }
    }
    a:hover {
        text-decoration: none;
        border: 1px solid white;
        color: white;
    }
    .suggestionsBackdrop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 5;
    }
}

// topbar background
.topbarBackground {
    background: var(--primary);
    @media (max-width: 768px) {
        background: var(--secondary);
    }
}

// logo
a.logoContainer {
    border: none;
    &:hover {
        border: none;
    }
    .logo {
        background-image: url('../../public/images.png');
        height: 33px;
        width: 104px;
        background-position: -8px -47px;
        @media (max-width: 768px) {
            background-image: url('../../public/images.png');
            background-position: -8px -87px;
            height: 27px;
            width: 82px;
        }
    }
}


.cart {
    display: flex;
    align-items: flex-end;
    margin: 0 5px 0 0;
    position: relative;
    &:hover .cartPreview {
        display: block;
    }
    .cartPreview {
        display: none;
        position: absolute;
        z-index: 1;
        top: 44px;
        right: 0;
        width: 250px;
        padding: 10px;
        height: max-content;
        background: white;
        color: black;
        box-shadow: 0 0 15px rgba($color: #000000, $alpha: .3);
        border-radius: 5px;
         &::before {
            content: "";
            position: absolute;
            top: -19px;
            right: 30px;
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }
    }
}

// cart
.cartIcon {
    background-image: url('../../public/images.png');
    height: 33px;
    width: 43px;
    background-position: -8px -336px;
    position: relative;
    .cartCount {
        position: absolute;
        left: 19px;
        font-size: 17px;
        top: -3px;
        color: #ff9730;
    }
}

// location
.location {
    background-image: url('../../public/images.png');
    height: 25px;
    width: 21px;
    background-position: -69px -338px;
}

// search bar
.searchBar {
    width: 100%;
    display: flex;
    height: 37px;
    position: relative;
    .suggestions {
        position: absolute;
        top: 100%;
        height: max-content;
        z-index: 5;
        background-color: white;
        color: black;
        font-size: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        a {
            color: black;
            display: block;
            padding: 5px;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
    select {
        background-color: #f3f3f3;
        border-radius: 5px 0 0 5px;
        border: none;
        border-right: 1px solid rgba(73, 69, 69, .5);
        text-transform: capitalize;
        font-size: 15px;
        &:focus {
            border: 2px solid var(--brand);
        }
    } 
    input[type="text"] {
        flex-grow: 1;
        max-width: 100%;
        border: 0;
        border-right: 1px solid var(--brand);
        font-size: 15px;
        @media (max-width: 768px) {
            border-radius: 5px 0 0 5px;
        }
    }
    .submitContainer {
        background: #f9c16d;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 0 5px 5px 0;
    }
    // search icon
    .search {
        background-image: url('../../public/images.png');
        height: 25px;
        width: 21px;
        background-position: -10px -287px;
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            transform: scale(.9);
        }
    }
}



// hamburger
.hamBurger {
    background-image: url('../../public/images.png');
    height: 21px;
    width: 20px;
    background-position: -170px -251px;
    &:hover {
        cursor: pointer;
    }
}

// language change menu
.lngChange {
    position: relative;
    font-size: 15px;
    border: 5px solid transparent;
    .lngChangeTitle {
        &::before {
            content: "";
            position: absolute;
            top: 13px;
            left: 35px;
            height: 0;
            width: 0;
            border-top: 4px solid white;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
        }
    }
    .lngChangeOptions {
        z-index: 1;
        display: none;
        position: absolute;
        top: 28px;
        left: 12px;
        background: white;
        color: black;
        padding: 1rem;
        border-radius: 5px;
        width: 250px;
        box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .3);
        a {
            color: black;
        }
        &::before {
            content: "";
            position: absolute;
            top: -18px;
            left: 17px;
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        };
        li {
            &:hover {
                a {
                    color: rgb(47, 162, 170);
                }
            }
        }
    }
    &:hover {
        .lngChangeOptions {
            display: block;
        }
    }
}


.account {
    position: relative;
    color: white;
    background: none;
    border: 1px solid transparent;
    padding: 5px;
    &:focus {
        outline: auto;
    }
    .accountOptions {
        display: none;
         z-index: 1;
        position: absolute;
        background-color: white;
        box-shadow: 0 0  15px rgba(0, 0, 0, .3);
        top: 48px;
        border-radius: 5px;
        right: -10px;
        padding: 10px;
        width: 200px; 
        a {
            color: black;
            font-size: 15px;
        }
         li {
            &:hover {
                a {
                    color: rgb(47, 162, 170);
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: -18px;
            right: 10px;
            height: 0;
            width: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;

        };
    }
    &:hover {
        .accountOptions {
            display: block;
        }
        text-decoration: none;
        border: 1px solid white;
        color: white;
    }
}