/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary: #131921;
  --secondary: #232F3E;
  --brand: #FF9900;
}

strong {
  font-size: 13px;
}

// a {
//   color: rgb(31, 179, 184);
// }
// a:hover {
//   color: rgb(187, 98, 14);
//   text-decoration: underline;
// }

 
/* logo */
a.logoContainer {
    border: none;
    &:hover {
        border: none;
    }
    .logo {
        background-image: url('../public/images2.png');
        background-position: -5px -130px;
        height: 31px;
        width: 103px;
    }
}

// show tooltip on any element with tooltip attribute
[tooltip] {
  position: relative;
}
[tooltip]::before {
  content: attr(tooltip);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  background-color: black;
  width: max-content;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: .2s;
  text-transform: capitalize;
}
[tooltip]:hover::before, [tooltip]:hover::after {
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
}
[tooltip]::after {
  position: absolute;
  top: calc(-100% + 22px);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  content: '';
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: .2s;
}
  